@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* :root {
	--dark-color-a: #47B5FF;
	--dark-color-b: #06283D;
	--light-color: #FFFFFF;
	--success-color: #5cb85c;
	--error-color: #d9534f;
} */
body {
    background:#E6EDF9 !important;
    font-family: "Poppins", sans-serif !important;
	font-size: 16px;
	margin: 20px;
}
/* Chat Page */
.super-container {
    background: #F1F4FE;
    height: 91vh;
    width: 80vw;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
	color: #fff;
	margin-top: 2px;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}
.logo_chat {
	width: 42px;	
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
	margin: 0px 4px;
}
.logo_chat:hover {
	width: 42px;	
	-webkit-transform: scaleX(+1);
  	transform: scaleX(+1);
	margin: 0px 4px;
}
.message-container {
    background: #F1F4FE;
    height: 70vh;
    width: 52vw;
    margin: auto;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 30px;
}
.room-no {
    background: #0E49B5;
	color: #E6EDF9;
    height: 22vh;
    width:20vw;
    margin: auto;
    position: relative;
    float: left;
    margin-left: 28px;
    margin-top: 24px;
    border-radius: 30px;
}
.users-active {
    background: #2155BF;
	color: #E6EDF9;
    height: 42vh;
    width:20vw;
    margin: auto;
    position: relative;
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    border-radius: 30px;
}
.chat-header {
	background-color: #2155BF;
	color: #E6EDF9;
    width: flex;
	display: flex;
	justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    color: black;
    padding: 3px 30px;
    align-items: center;
}
.sub-container {
    background: #F1F4FE;
    height: 74vh;
    width: 50vw;
    margin: auto;
    position: relative;
    float: right;
    margin-right: 35px;
    margin-top: 0;
    border-radius: 30px;
}
.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	margin-top: 0;
	width: 25vw;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	align-items: center;
	padding: 10px;
	margin: 30px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 70vh;
	overflow-y: scroll;
}
.chat-messages::-webkit-scrollbar {
	display: none;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 20px 20px 20px 0px;
	overflow-wrap: break-word;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #2c3032;
	margin-left: 10px;
	margin-right: 5px;
}

.chat-form-container {
	padding: 10px 30px;
	margin-left: 150px;
	color: #F3F6FF;
	background-color: #2155BF;
	width: flex;
	margin-left: 0;
	border-radius: 0 0 20px 20px;
	z-index: +1;
}

.chat-form-container form {
	display: flex;
	z-index: +1;
}
#msg{
	border-radius: 30px !important;
	padding: 20px 30px;
	border: none;
	margin-left: 270px;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}
.btn {
	margin: 0 10px;
}
.room-sp {
	margin: 20px 0 0 20px;
}
.developer {
	color: #fff;
	position: absolute;
	margin-left: 256px;
	top: 30px;
}
#users {
	color: greenyellow;
} 
.user-img {
	width: 20px;
}
.logged-in {
	color: green;
}
.divJoin {
	background: none;
	height: 30px;
	width: auto;
	margin: 15px 40px;
	color: black;
	font-size: 15px;
	text-align: center;
  	font-style: italic;
}
.messageYou {
	max-width: flex;
    background: #2155BF !important;
	color: #fff;
	border-radius: 20px 20px 0px 20px !important;
	text-align: right !important;
}
.text {
	/* color: red; */
	margin: 0px 5px;
}
.special {
	margin-left: 5px;
}

/* Social media handles */
*, *::before, *::after{
    box-sizing: border-box;    
}
body {
    position: relative;
}
.mf-social-side-list {
    position: fixed;
    top: 30vh;
    left: 10px;
    z-index: 100;
}
.mf-social-side-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
   padding: 0;
   margin:0;
   margin-left: 10px;
}
.mf-social-side-list ul li a {
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	margin: 5px 0px;
}
.mf-social-side-list ul li a:hover {
    opacity: .9;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.mf-social-side-list ul li a[href*='github'] {
	background:#171515;
}
.mf-social-side-list ul li a[href*='instagram'] {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}
.mf-social-side-list ul li a[href*='youtube'] {
    background: #c4302b;
}
.mf-social-side-list ul li a[href*='linkedin'] {
    background: #0077B5;
}
.mf-social-side-list ul li a[href*='gmail'] {
    background: #BB001B;
}
#opt-btn {
	visibility: hidden;
}

/* For Mobile responsiveness */
@media (max-width: 1100px) {
	body {
		margin: 0;
		padding: 0;
	}
	.developer {
		top: 28px;
		left: 20px;
	}
	h1 {
		margin-top: 5px;
		margin-bottom: 2px !important;
	}
	.super-container {
		margin: 0;
		width: 100vw;
		height: 50vh !important;
		border-radius: 0;
		box-shadow: none;
		background: #E6EDF9 !important;
	}
	.chat-main {
		width: 100vw;
		height: 90vh;
		padding: 0;
		border-radius: 0;
	}
	.chat-messages {
		max-height: 87vh !important;
	}
	.message-container, .sub-container {
		background: none;
		border-radius: 0;
		width: 100vw;
		height: 90vh;
		float: none;
		margin-bottom: 20px !important;
		padding: 0 20px;
	}
	.sub-container {
		background: #E6EDF9 !important;
		width: 100vw;
		height: 90vh;
		margin: auto !important;
		padding: 0;
	}
	.chat-sidebar {
		display: none;
	}
	.chat-header {
		width: 100vw;
		padding: 5px 30px 10px 30px;
		border-radius: 0;
	}
	.chat-form-container {
		border-radius: 0;
		margin: 0;
		width: 100vw;
		z-index: +1;
	}
	#msg {
		margin: auto !important;
	}
	.btn {
		width: fit-content;
	}
	#logo-head {
		visibility: hidden;
	}
	.mf-social-side-list {
		visibility: hidden;
	}
	#opt-btn {
		background: none;
		color: #fff;
		border: none;
		position: absolute;
		left: 2vw;
    	top: 5px;
		visibility: visible;
	}
}
@media (max-width: 700px) {
	h1 {
		font-size: 25px;
	}
	.logo_chat {
		margin: 0;
		margin-left: 5px;
	}
	.chat-header {
		padding: 4px;
		padding-bottom: 20px;
	}
	.chat-form-container {
		padding: 20px 15px;
	}
	.message-container {
		padding: 0;
	}
	#msg {
		width: 50vw;
	}
	.developer {
		top: 50px;
		left: 20vw;
		margin: 0;
	}
}